/*
	Styles for Target Portraits - Career Builder microsite
	author: Tim Snyder (tim@timsnyder.me)
	8/2014
 */


/*                                                                            $$\           $$\                     
                                                 $$\                        \__|          \__|                    
$$\    $$\ $$$$$$\   $$$$$$\   $$$$$$$\          $$ |         $$$$$$\$$$$\  $$\ $$\   $$\ $$\ $$$$$$$\   $$$$$$$\ 
\$$\  $$  |\____$$\ $$  __$$\ $$  _____|      $$$$$$$$\       $$  _$$  _$$\ $$ |\$$\ $$  |$$ |$$  __$$\ $$  _____|
 \$$\$$  / $$$$$$$ |$$ |  \__|\$$$$$$\        \__$$  __|      $$ / $$ / $$ |$$ | \$$$$  / $$ |$$ |  $$ |\$$$$$$\  
  \$$$  / $$  __$$ |$$ |       \____$$\          $$ |         $$ | $$ | $$ |$$ | $$  $$<  $$ |$$ |  $$ | \____$$\ 
   \$  /  \$$$$$$$ |$$ |      $$$$$$$  |         \__|         $$ | $$ | $$ |$$ |$$  /\$$\ $$ |$$ |  $$ |$$$$$$$  |
    \_/    \_______|\__|      \_______/                       \__| \__| \__|\__|\__/  \__|\__|\__|  \__|\_______/ 
                                                                                                                  
*/                                                                                                                  

div, section, article, aside, nav, hgroup, header, footer{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
                                                                                                                  
$jcp-red: #e31837;
$light-grey: #f7f7f7;
$dark-grey: #717171;
$grey-border: #e5e5e5;
$body-color: #7F7F7F;
$subhead: #595959;

@mixin photo-border{
	padding: 10px;
	background-color: #fff;
	border: 1px solid $grey-border;
}

.constrained{
	max-width: 58.75em;
	margin: 0 auto;	
}

.columns{
	padding: 0 20px 0 20px;
}


/*

  $$\                                                                          $$\                 
  $$ |                                                                         $$ |                
$$$$$$\   $$\   $$\  $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$\  $$\   $$\ 
\_$$  _|  $$ |  $$ |$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ \____$$\ $$  __$$\ $$  __$$\ $$ |  $$ |
  $$ |    $$ |  $$ |$$ /  $$ |$$ /  $$ |$$ /  $$ |$$ |  \__|$$$$$$$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |
  $$ |$$\ $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |     $$  __$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |
  \$$$$  |\$$$$$$$ |$$$$$$$  |\$$$$$$  |\$$$$$$$ |$$ |     \$$$$$$$ |$$$$$$$  |$$ |  $$ |\$$$$$$$ |
   \____/  \____$$ |$$  ____/  \______/  \____$$ |\__|      \_______|$$  ____/ \__|  \__| \____$$ |
          $$\   $$ |$$ |                $$\   $$ |                   $$ |                $$\   $$ |
          \$$$$$$  |$$ |                \$$$$$$  |                   $$ |                \$$$$$$  |
           \______/ \__|                 \______/                    \__|                 \______/ 


*/

body{
	font-family: "Helvetica", "Arial", "san-serif";
}

h1{
	
}

h2{
	color: $jcp-red;
	font-size: 1.8em;
	text-transform: uppercase;
}

h3{
	color: $subhead;
	font-size: 1.2em;
}

h4{
	color: $subhead;
}

p{
	font-size: .97em;
	line-height: 1.9m;
}

a{
	&:hover{
		
	}
}

.copy{
	ul{
		margin-left: 0;
		li{
			line-height: 1.9em;	
			list-style: none;
			padding-left: 26px;
			background: url('../img/bullet.png') 0px 13px no-repeat;
			background-size: 4px;
		}
	}
	p{
		align: left !important;
		text-align: left !important;
	}	
}

.footnote{
	p{
		font-size: .8em;
		color: #bebebe;
		line-height: 3.3em;
		margin: 0 0 0 20px;
	}
}

.large-btn{
	font-family: 'museo', 'Helvetica', 'Arial';
	color: #fff;
	-moz-text-shadow: #373737 0 1px 2px;
	-webkit-text-shadow: #373737 0 1px 2px;
	text-shadow: #373737 0 1px 2px;
	text-align: center;
	line-height: 2.9em;
	text-transform: uppercase;
}

.small-btn{
	font-family: 'museo', 'Helvetica', 'Arial';
	color: #fff;
	-moz-text-shadow: #373737 0 1px 2px;
	-webkit-text-shadow: #373737 0 1px 2px;
	text-shadow: #373737 0 1px 2px;
	text-align: center;
	line-height: 2.7em;
	text-transform: uppercase;
}

.back-to-serp{
	display: block;
	color: #000;
	margin-top: 20px;
}

.back-to-serp:hover{
	color: $jcp-red;
	text-decoration: underline;
}

/*

$$\                                           $$\     
$$ |                                          $$ |    
$$ | $$$$$$\  $$\   $$\  $$$$$$\  $$\   $$\ $$$$$$\   
$$ | \____$$\ $$ |  $$ |$$  __$$\ $$ |  $$ |\_$$  _|  
$$ | $$$$$$$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |  $$ |    
$$ |$$  __$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |$$\ 
$$ |\$$$$$$$ |\$$$$$$$ |\$$$$$$  |\$$$$$$  |  \$$$$  |
\__| \_______| \____$$ | \______/  \______/    \____/ 
              $$\   $$ |                              
              \$$$$$$  |                              
               \______/                               

*/

header{
	margin: 24px auto;
}

a.logo{
	display: block;
	img{
		width: 255px;
		height: auto;
	}
}

.header-search{
	form{
		
	}
}

footer{
	margin-top: 2px;
	background-color: #e0e0e0;
	padding: 18px 0 0 0;
	.call-to-action{
		overflow: hidden;
		margin: 0 auto;
		width: 64%;
		max-width: 506px;
		padding-bottom: 14px;
	}
	.call-to-action-wide{
		overflow: hidden;
		margin: 0 auto;
		width: 98%;
		max-width: 610px;
		padding-bottom: 14px;
	}
	h2{
		float: left;
		margin-right: 20px;
	}
	.large-btn{
		float: left;
	}
	.wrapper{
		float: left;
		margin-left: 20px;
		font-size: .9em;
		width: 48%;
		color: #727272;
		h4{
			font-size: 1.3em;
			color: #000;
			margin: 0;
		}
	}
	.footnote{
		clear: both;
		height: 40px;
		background-color: #333;
	}
}

.search-other-brands{
	margin: 30px auto 10px auto;
	.call-to-action-wide{
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		max-width: 610px;
		.large-btn{
			float: left;
		}
		.wrapper{
			float: left;
			margin-left: 20px;
			font-size: .9em;
			width: 48%;
			color: #727272;
			h4{
				font-size: 1.3em;
				color: #000;
				margin: 0;
			}
		}	
	}
}

/*

$$\                                                                                       
$$ |                                                                                      
$$$$$$$\   $$$$$$\  $$$$$$\$$$$\   $$$$$$\         $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\  
$$  __$$\ $$  __$$\ $$  _$$  _$$\ $$  __$$\       $$  __$$\  \____$$\ $$  __$$\ $$  __$$\ 
$$ |  $$ |$$ /  $$ |$$ / $$ / $$ |$$$$$$$$ |      $$ /  $$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |
$$ |  $$ |$$ |  $$ |$$ | $$ | $$ |$$   ____|      $$ |  $$ |$$  __$$ |$$ |  $$ |$$   ____|
$$ |  $$ |\$$$$$$  |$$ | $$ | $$ |\$$$$$$$\       $$$$$$$  |\$$$$$$$ |\$$$$$$$ |\$$$$$$$\ 
\__|  \__| \______/ \__| \__| \__| \_______|      $$  ____/  \_______| \____$$ | \_______|
                                                  $$ |                $$\   $$ |          
                                                  $$ |                \$$$$$$  |          
                                                  \__|                 \______/           

*/

#home-page{
	header{
		
	}
	
	.banner-layout-wrapper{
		border-top: 1px solid $grey-border;
		border-bottom: 1px solid $grey-border;
		background-color: #fff;
	}
	.banner-layout{
		overflow: hidden;
		margin: 0 auto;
		img{
			width: 35%;
			height: auto;
			float: left;
			margin-top: 4.5%;
			position: relative;
			right: -4.4%;
			-ms-transform: rotate(-4deg) scale(1.2);
			-moz-transform: rotate(-4deg) scale(1.2);
			-webkit-transform: rotate(-4deg) scale(1.2);
			transform: rotate(-4deg) scale(1.2);
		}
		.site-intro{
			width: 65%;
			max-width: 588px;
			padding: 5em 7em;
			float: left;
			background-color: $dark-grey;
			h2{
				color: #fff;	
			}
			p{
				color: #cecece;
			}
		}
	}
	.video-layout{
		padding-top: 50px;
		background: url('../img/large-shadow.png') 30% 0% no-repeat;	
		background-size: 80% 2%;
	}
	.video-large{
		margin-bottom: 0px;
		padding-bottom: 20px;
		img{
			@include photo-border;
			background-color: #fff;
			display: block;
		}
	}
	.video-large::after{
		content: "";
		display: block;
		width: 100%;
		height: 10px;
		background: url('../img/medium-shadow.png') 0 50% no-repeat;
		background-size: 100% 100%;
	}
	.callouts-layout{
		background-color: $light-grey;
		margin-top: 20px;
		padding-top: 36px;
		padding-bottom: 20px;
		.large-callouts{
			.img-wrapper{
				margin-bottom: 40px;
				img{
					@include photo-border;
				}
			}	
			.img-wrapper::after{
				content: "";
				display: block;
				width: 100%;
				height: 10px;
				background: url('../img/medium-shadow.png') 0 50% no-repeat;
				background-size: 100% 100%;
			}
		}
	}
	.small-callouts{
		.large-4{
			background: url('../img/vert-divider.jpg') 97.4% 65% no-repeat;	
			background-size: 3px;
		}
		.large-4:last-child{
			background:none;
		}
		.portrait{
			display: block;
			margin: 16px auto;
			width: 100px;
			height: 100px;
		}
	}
	footer{
		.call-to-action{
			
		}
	}	
}

/*

                    $$\             $$\ $$\             $$\     
                    $$ |            $$ |\__|            $$ |    
      $$\  $$$$$$\  $$$$$$$\        $$ |$$\  $$$$$$$\ $$$$$$\   
      \__|$$  __$$\ $$  __$$\       $$ |$$ |$$  _____|\_$$  _|  
      $$\ $$ /  $$ |$$ |  $$ |      $$ |$$ |\$$$$$$\    $$ |    
      $$ |$$ |  $$ |$$ |  $$ |      $$ |$$ | \____$$\   $$ |$$\ 
      $$ |\$$$$$$  |$$$$$$$  |      $$ |$$ |$$$$$$$  |  \$$$$  |
      $$ | \______/ \_______/       \__|\__|\_______/    \____/ 
$$\   $$ |                                                      
\$$$$$$  |                                                      
 \______/                                                                                                                                     

*/

#job-list{
	header{
		
	}
	footer{
		.call-to-action{
			
		}
	}	
}

.search-other-brands{
	
	aside{
		
	}
}

.job-list{	
	nav{
		overflow: hidden;
		.columns{
			padding: 0;
		}
	}	
	nav > div > h2{
		float: left;
	}
	nav > div > div{
		float: left;
		margin-right: 61px;
		margin-top: 10px;
		color: #000;
		font-size: .9em;
	}
}


.job-entry{
	border: 1px solid $grey-border;	
	margin-top: 10px;
	margin-bottom: 22px;
	padding: 20px 14px 0px 14px;
	.columns{
		min-height: 130px;
		background: url('../img/vert-divider-short.jpg') 100% 50% no-repeat;
	}
	.columns:last-child{
		background: none;
	}
	a{
		color: $subhead;
		text-decoration: underline;
	}
	a:hover{
		color: $jcp-red;
	}
	.location{
		position: relative;
		p{
			position: absolute;
			top: 50%;
			margin-top: -0.6em;
			text-align: center;
			width: 80%;
			margin: -0.8em auto 0 auto;
		}
	}
	.date-posted{
		p{
			position: absolute;
			top: 50%;
			margin-top: -.6em;
			text-align: center;
			width: 80%;
			margin: -0.8em auto 0 auto;
		}	
	}
}

.job-entry::after{
	content: "";
	display: block;
	position: relative;
	top: 10px;
	width: 100%;
	height: 10px;
	background: url('../img/large-shadow.png') 0 50% no-repeat;
	background-size: 100% 100%;
	
}

/*
                    $$\                   $$\            $$\               $$\ $$\           
                    $$ |                  $$ |           $$ |              \__|$$ |          
      $$\  $$$$$$\  $$$$$$$\         $$$$$$$ | $$$$$$\ $$$$$$\    $$$$$$\  $$\ $$ | $$$$$$$\ 
      \__|$$  __$$\ $$  __$$\       $$  __$$ |$$  __$$\\_$$  _|   \____$$\ $$ |$$ |$$  _____|
      $$\ $$ /  $$ |$$ |  $$ |      $$ /  $$ |$$$$$$$$ | $$ |     $$$$$$$ |$$ |$$ |\$$$$$$\  
      $$ |$$ |  $$ |$$ |  $$ |      $$ |  $$ |$$   ____| $$ |$$\ $$  __$$ |$$ |$$ | \____$$\ 
      $$ |\$$$$$$  |$$$$$$$  |      \$$$$$$$ |\$$$$$$$\  \$$$$  |\$$$$$$$ |$$ |$$ |$$$$$$$  |
      $$ | \______/ \_______/        \_______| \_______|  \____/  \_______|\__|\__|\_______/ 
$$\   $$ |                                                                                   
\$$$$$$  |                                                                                   
 \______/                                                                                                                                                           
*/

#job-details{
	header{
		
	}
	footer{
		.call-to-action{
			
		}
	}	
}

.job-details{
	h2{
		margin-bottom: 0;
	}
	h4{
		margin-top: -6px;
		font-size: 1.1em;
	}
	.description{
		a{
			
		}
	}	
	.location{
		
	}
	.date-posted{
		
	}
}

.job-snapshot{
	overflow: hidden;
	div{
		float: left;
		width: 40%;
	}
	div + div{
		width: 50%;
		margin-left: 8%;
	}
	ul{
		list-style: none;
		margin: 0;
	}
	li{
		
	}
}

/*

                                                                                     $$\               
                                                                                     $$ |              
 $$$$$$$\  $$$$$$\  $$$$$$\$$$$\   $$$$$$\   $$$$$$\  $$$$$$$\   $$$$$$\  $$$$$$$\ $$$$$$\    $$$$$$$\ 
$$  _____|$$  __$$\ $$  _$$  _$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\\_$$  _|  $$  _____|
$$ /      $$ /  $$ |$$ / $$ / $$ |$$ /  $$ |$$ /  $$ |$$ |  $$ |$$$$$$$$ |$$ |  $$ | $$ |    \$$$$$$\  
$$ |      $$ |  $$ |$$ | $$ | $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$   ____|$$ |  $$ | $$ |$$\  \____$$\ 
\$$$$$$$\ \$$$$$$  |$$ | $$ | $$ |$$$$$$$  |\$$$$$$  |$$ |  $$ |\$$$$$$$\ $$ |  $$ | \$$$$  |$$$$$$$  |
 \_______| \______/ \__| \__| \__|$$  ____/  \______/ \__|  \__| \_______|\__|  \__|  \____/ \_______/ 
                                  $$ |                                                                 
                                  $$ |                                                                 
                                  \__|                                                                 

*/

.sidebar-callouts{
	.video{
		margin-top: 20px;
		img{
			@include photo-border;	
		}
	}	
	.video::after{
		content: "";
		display: block;
		width: 100%;
		height: 10px;
		background: url('../img/medium-shadow.png') 0 50% no-repeat;
		background-size: 100% 100%;	
	}
}

#modal{
	background-color: #fff;
	border: none;
	width: 720px;
	height: 500px;
	position: absolute;
	right: 50%;
	margin-left: -360px;
	-moz-box-shadow: none;
	box-shadow: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	video{
		border: 10px solid #fff;
		margin: 10px auto;
		display: block;
		width: 660px;
		height: 420px;
	}
}

.close-reveal-modal{
	margin-top: -8px;
}

.header-search{
	background-color: $light-grey;
	border-top: 1px solid $grey-border;
	border-bottom: 1px solid $grey-border;
	padding: 18px 0 6px 0;
	margin-bottom: 20px;
	form{
		margin-bottom: 0;
	}
	.search-fields{
		display: inline-block;
		width: 69%;
	}
	input{
		width: 48%;
		margin-right: 1%;
		display: inline-block;
		text-transform: capitalize;
		height: 44px;
	}
	.large-btn{
		display: inline-block;
	}
}

.sidebar-wrapper{
	padding: 0;
	input{
		margin: 12px auto;
		max-width: 282px;
	}
	h2, h3, p{
		max-width: 282px;
		margin: 0px auto 10px auto;
	}
	p{
		margin-bottom: 20px;
	}
}

.tall-sidebar{
	background-color: $light-grey;
	border: 1px solid $grey-border;
	padding: 1em 1.125em;
	margin-bottom: 20px;
	p{
		font-size: .95em;
	}
	.sidebar-block + .sidebar-block{
		margin-top: 20px;
		padding-top: 12px;
		background: url('../img/horz-divider.jpg') 50% 0% no-repeat;
		background-size: 100% 2px;
	}
}

.tall-sidebar::after{
	content: "";
	display: block;
	width: 100%;
	height: 10px;
	position: relative;
	top: 26px;
	background: url('../img/medium-shadow.png') 0 50% no-repeat;
	background-size: 100% 100%;
}


.short-sidebar{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: $light-grey;
	border: 1px solid $grey-border;
	padding: 1em 1.125em;
	h3{
		width: 100%;	
	}
	p{
		font-size: .95em;
		margin: 0 0 1.5em 0;
	}
	.video{
		
	}
	.sidebar-block{
		
	}
}

.short-sidebar::after{
	content: "";
	display: block;
	width: 100%;
	height: 10px;
	position: relative;
	top: 26px;
	background: url('../img/medium-shadow.png') 0 50% no-repeat;
	background-size: 100% 100%;
}

.small-btn{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 252px;
	height: 46px;
	background: url('../img/small-btn.png') top left no-repeat;
	background-size: 100% 100%;
}

.small-btn:hover{
	color: #fff;
}

.large-btn{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 285px;
	height: 51px;
	background: url('../img/large-btn.png') top left no-repeat;
	background-size: 100% 100%;
}

.large-btn:hover{
	color:#fff;
}

.pagination{
	#pager{
		float: right;
		overflow: hidden;
		padding: 6px 0px;
		margin: 0;
		border: 1px solid $grey-border;
		a{
			float: left;
			font-size: .9em;
			padding: 4px 11px;
			margin: 0 8px;
			display: block;
			font-weight: bold;
			color: #000;
		}
		span{
			float: left;
			color: #fff;
			font-weight: bold;
			font-size: .9em;
			display: block;
			padding: 4px 11px;
			margin: 0 8px;
			background-color: $jcp-red;
		}
	}
}

.ajax-loader{
	display: block;
	margin: 100px auto;
}


/*

                              $$\ $$\                                                         $$\                     
                              $$ |\__|                                                        \__|                    
$$$$$$\$$$$\   $$$$$$\   $$$$$$$ |$$\  $$$$$$\         $$$$$$\  $$\   $$\  $$$$$$\   $$$$$$\  $$\  $$$$$$\   $$$$$$$\ 
$$  _$$  _$$\ $$  __$$\ $$  __$$ |$$ | \____$$\       $$  __$$\ $$ |  $$ |$$  __$$\ $$  __$$\ $$ |$$  __$$\ $$  _____|
$$ / $$ / $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |      $$ /  $$ |$$ |  $$ |$$$$$$$$ |$$ |  \__|$$ |$$$$$$$$ |\$$$$$$\  
$$ | $$ | $$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |      $$ |  $$ |$$ |  $$ |$$   ____|$$ |      $$ |$$   ____| \____$$\ 
$$ | $$ | $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |      \$$$$$$$ |\$$$$$$  |\$$$$$$$\ $$ |      $$ |\$$$$$$$\ $$$$$$$  |
\__| \__| \__| \_______| \_______|\__| \_______|       \____$$ | \______/  \_______|\__|      \__| \_______|\_______/ 
                                                            $$ |                                                      
                                                            $$ |                                                      
                                                            \__|                                                      
                                                            
*/

@media only screen and (max-width:'959px'){
	body{
		padding: 0px 3px;
	}
	#home-page{
		.banner-layout{
			img{
			width: 32%;
			margin-top: 1.5%;
			right: -3%;
			-ms-transform: rotate(-4deg) scale(1);
			-moz-transform: rotate(-4deg) scale(1);
			-webkit-transform: rotate(-4deg) scale(1);
			transform: rotate(-4deg) scale(1);
			}	
			.site-intro{
				padding: 3em;
			}
		}
	}
	.header-search{
		padding-bottom: 12px;
		.search-fields{
			display: block;
			width: 100%;
			max-width: 660px;
			margin: 0 auto;
		}
		.large-btn{
			display: block;
			margin: 0 auto;
		}
	}
	.job-list{
		nav{
			.columns{
				padding: 0 30px;
			}
		}
	}
	div.pagination.columns{
		float: none;
		clear: both;
		width: 100%;
		padding: 0 0 0 30px;
		margin: 0 auto;
	}
}

@media only screen and (max-width:'819px'){
	.search-other-brands{
		.call-to-action-wide{
			.large-btn{
				float: none;
			}
			.wrapper{
				width: 100%;
				max-width: 280px;
				float: none;
				margin: 10px auto;
			}	
		}
	}
	footer{
		h2{
			float: none;
			margin: 0 auto;
			text-align: center;
		}
		.large-btn{
			float: none;
			margin: 0 auto;
		}
		.wrapper{
			float: none;
			margin: 10px auto;
		}
	}
}

@media only screen and (max-width:'790px'){
	#home-page{
		.banner-layout{
			img{
				margin-top: 5%;
			}
		}
	}	
	//we're resizing the video by px instead of %
	//because % dont work for video on iOS.
	#modal{
		width: 700px;
		height: 480px;
		min-height: 480px;
		margin-left: -350px;
		video{
			width: 640px;
			height: 400px;
		}
	}
}

@media only screen and (max-width:'720px'){
	#home-page{
		.banner-layout{
			img{
				margin-top: 10%;
			}
		}
		.callouts-layout{
			.small-callouts{
				.large-4{
					background: none;
				}
			}
		}
	}
	.job-entry{
		.columns{
			background: none;
		}
	}
	#modal{
		width: 600px;
		height: 380px;
		min-height: 380px;
		margin-left: -300px;
		video{
			width: 540px;
			height: 300px;
		}
	}
}

@media only screen and (max-width:'640px'){
	.job-entry{
		.columns + .columns{
			min-height: 30px;
			height: auto;
			padding: 0;
			margin-bottom: 20px;
			p{
				width: 100%;
				margin: 0 auto;
				text-align: center;
			}
		}
	}

	#modal{
		width: 98%;
		height: 380px;
		min-height: 380px;
		margin-left: 1%;
		right:1%;
		video{
			width: 550px;
			height: 310px;
			margin: 0;
		}
	}
}

@media only screen and (max-width:'600px'){
	#home-page{
		.banner-layout{
			position: relative;
			img{
				width: 50%;
				position: absolute;
				left: 24%;
				bottom: 1%;
			}
			.site-intro{
				width: 100%;
				padding-bottom: 42%;
			}
		}
		.callouts-layout{
			.large-callouts{
				.img-wrapper{
					width: 80%;
					margin: 0 auto 40px auto;
				}	
			}
			.small-callouts{
				.portrait{
					width: 130px;
					height: auto;
				}
			}
		}
	}
	#modal{
		height: auto;
		min-height: 200px;
		video{
			border: none;
			width: 98%;
			height: auto;
		}
	}
}

@media only screen and (max-width:'370px'){
	.job-snapshot{
		div{
			width: 0%;
			display: none;
		}
		div + div{
			display: block;
			width: 100%;
			margin-left: 0%;
		}
	}
}

@media only screen and (max-width:'320px'){
	#modal{
		min-height: 70px;
		padding: 0;
		video{
			margin: 16px;
			width: 260px;
			height: 200px;
		}
	}
}